<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "My Finances" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="My Finances">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-white text-gray-900">
    <div class="flex flex-col min-h-screen">
      <%= render NavbarComponent.new %>

      <main class="flex-1">
        <div class="container mx-auto px-4 py-8">
          <%= render Shared::FlashMessagesComponent.new(flash) %>
          <%= yield %>
        </div>
      </main>

      <%= render Shared::FooterComponent.new %>
    </div>
  </body>
</html>
